<div id="about_anchor"></div>
<div id="description">
  <h1><%= t('page_title.about') + ' ' + t('community.name') %></h1>

  <div class="text-justify">
    <%= t('community.description_html') %>
  </div>
</div>