= render 'static_pages/introduction_carousel'
= render 'static_pages/introduction'
- if can? :create, @post
	= render 'posts/post_form_modal', post: @post
	= link_to fa_icon('plus', title: t('compose_new_post'), class: 'pull-right'), '#',
		data: {toggle: 'modal', target: '#create-new-post-modal'}
/ news
#news
= render 'posts/feed'
= render 'facebook/fb_feed'
/ membership
= render 'static_pages/membership'
= render 'static_pages/partner_austria'
= render 'static_pages/partner_wildlife_park'
= render 'static_pages/partner_clubs'
/ consultation
= render 'static_pages/consultation'
/ contact
= render 'contacts/board_of_directors'
= render 'contacts/contact'
/ directions
= render 'directions/direction'
