= render 'static_pages/introduction_carousel'
= render 'static_pages/introduction'
- if can? :create, @post
	= render 'posts/post_form_modal', post: @post
	= link_to glyphicon_btn(btn_text: t('compose_new_post')).html_safe, '#',
		data: {toggle: 'modal', target: '#create-new-post-modal'}
#news_anchor
= render 'shared/feed'
= render 'facebook/fb_feed'
#membership_anchor
= render 'static_pages/membership'
#contact_anchor
= render 'contacts/board_of_directors'
= render 'contacts/contact'
#directions_anchor
= render 'directions/direction'
