<% provide(:title, t('page_title.all_users')) %>
<h1><%= yield(:title) %></h1>

<%= will_paginate class: 'pagination-sm' %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate class: 'pagination-sm' %>