- provide(:title, @title)
.row
  aside.col-md-4
    = render 'user_info'
    section.stats
      = render 'stats'
      - if @users.any?
        .user_avatars
          - @users.each do |user|
            = link_to gravatar_for(user, size: 30), user
  .col-md-8
    h3
      = @title
    - if @users.any?
      ul.users.follow
        = render @users

			= paginate @users, theme: 'twitter-bootstrap-4', pagination_class: 'pagination-sm justify-content-center',
				nav_class: "m-2", inner_window: 2, outer_window: 0
