<% provide(:title, @user.name) %>
<% provide(:feed_title, t('user_feed_header', user_name: @user.name)) %>

<div class="row">
  <aside class="col-md-4">
    <%= render 'shared/user_info' %>
    <%= render 'shared/stats' %>
  </aside>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render 'follow_form' if logged_in? %>
  </div>
</div>

<div class="row">
  <%= render 'shared/feed' %>
</div>
