<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <%= render 'shared/user_info' %>
  </aside>

  <div class="col-md-12">
    <h3><%= @user.name %>'s Post Feed</h3>
    <%= render 'shared/feed' %>
  </div>
</div>