<div id="all-modals">
  <% if @feed && @feed.any? %>
      <% @feed.each do |post| %>
          <%= render 'posts/post_image_modal', post: post %>
      <% end %>
  <% end %>

  <% if logged_in? && @current_user.admin? %>
      <% if @feed && @feed.any? %>
          <% @feed.each do |post| %>
              <%= render 'posts/post_form_modal', post: post %>
          <% end %>
      <% end %>
  <% end %>
</div>

<div id="feed" class="feed">
  <% if @feed.any? %>
      <%= render @feed %>

      <div class="col-sm-12 col-md-12 col-lg-12 center">
        <%= will_paginate @feed, class: 'pagination-sm', inner_window: 2, outer_window: 0 %>
      </div>
  <% end %>
</div>