<div class="row">
  <div id="fb-feed" class="feed">
    <% if @fb_feed&.any? %>
      <h2><%= t('fb_feed_header') %></h2>

      <% @fb_feed.each do |post| %>
        <%= render 'facebook/fb_post', post: post %>
      <% end %>
    <% end %>
  </div>
</div>