<div id="directions">
  <h1><%= t('community.directions') %></h1>

  <div class="center">
    <p class="directions"><%= t('community.directions_html', community_name: t('community.name')) %></p>
    <p class="about_directions"><%= t('community.about_directions_html') %></p>
  </div>

  <div id="map" style="width: 100%; height: 400px"></div>
  <%= javascript_include_tag google_dynamic_js_map %>
</div>