.modal-dialog.modal-lg role="document"
	.modal-content
		.modal-header
			- if post.id?
				h3 id="editPost#{post.id}ModalLabel" class="modal-title"
					= t('edit_post')
			- else
				h3 id="createNewPostModalLabel" class="modal-title"
					= t('compose_new_post')
			button.close [type="button" data-dismiss="modal" aria-label="Close"]
				span [aria-hidden="true"] &times;
		.modal-body
			.row
				.col-sm-12.col-md-12.col-lg-12
					= render 'posts/post_form', post: post
